.button {
  display: inline-block;
  min-height: 56px;
  padding: 17px 20px;

  font-size: 18px;
  color: #ffffff;
  background-color: #FF7F96;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #FFEBEF;
  color: #FF7F96;
}

.button:active {
  opacity: 0.5;
}
