$fontPTMono: "PT Mono", Arial, Helvetica, sans-serif;
$fontPTSans: "PT Sans", Arial, Helvetica, sans-serif;
$fontPTSansCaption: "PT Sans Caption", Arial, Helvetica, sans-serif;

$tablet-width: 768px;
$desktop-width: 1200px;
$mobile-width-only: 767px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
